<head>
    <title>This is title</title>
    <link rel="stylesheet" href="./css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body>
    <div class="row" style="padding-top: 50px">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <img src="./assets/Qadzif Kamil Z_sq.JPG" height="250" width="250">
            <div style="padding-left: 20px; padding-top: 20px; font-size: 20px">
            <b>
                Name : Qadzif Kamil Zahari <br>
                NPM : 1806205565 <br>
                Angkatan : 2018 <br>
                Hobi : Playing video game <br>
                Deskripsi : The boring artist that's master of all jack of none
            </b>
                <div style="text-align: center">
                    Here some description
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</body>